<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">

	<title>Dashboard Admin Dashboard</title>

</head>

<body>

	<div id="sidebar" class='active' th:fragment="sidebar">
		<div class="sidebar-wrapper active">
			<div class="sidebar-header">
				<img th:src="@{/images/logo.svg}" alt="" srcset="">
			</div>
			<div class="sidebar-menu">
				<ul class="menu">


					<li class='sidebar-title'>Main Menu</li>



					<li class="sidebar-item active ">

						<a th:href="@{/home}" class='sidebar-link'>
							<i data-feather="home" width="20"></i>
							<span>Dashboard</span>
						</a>


					</li>


					<li th:each="item : ${sidebarItems}" class="sidebar-item has-sub">
						<a th:href="${item.link}" class="sidebar-link">
							<i th:data-feather="${item.icon}" width="20"></i>
							<span th:text="${item.title}"></span>
						</a>
						<ul class="submenu" th:if="${item.subItems != null}">
							<li th:each="subItem : ${item.subItems}">
								<a th:href="${subItem.link}" th:text="${subItem.title}"></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
		</div>
	</div>

</body>

</html>